.list-todo h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.list-todo {
  padding: 0 1em 2em;
  margin: 1em 2em;
}

.list-todo p {
  text-align: center;
}

.todo {
  border-bottom: 1px solid #444;
  padding: 1em 0;
}

.todo h3 {
  margin-bottom: 0.5em;
}

.todo-done {
  text-decoration: line-through;
  color: rgb(240, 98, 146);
}

.todos p {
  text-align: left;
  font-style: italic;
  font-size: 0.7em;
  margin-bottom: 1.5em;
}

.todos svg {
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 1em;
  transition: 0.5s;
}

.todo svg:hover {
  color: rgb(240, 98, 146);
}
